* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 500px;
}

#wrap {
	overflow-x: hidden;
	position: relative;
	border-left: 1px solid red;
}

#nav {
	width: 8%;
	max-width: 2em;
	color: red;
	font-size: 15px;
	position: fixed;
	top: 12%;
	left: 0;
	z-index: 999999999;
}

#nav div {
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	border: 1px solid red;
	border-left: none;
	margin-bottom: 4px;
	border-radius: 0 10px 10px 0;
	padding: 5px 0;
}
#nav .active {
	background: #e42a2b;
	color: white;
}


.head{
	text-align: center;
	padding: 1em 0;
}
.logo{
	width: 30%;
	/*margin-right: 5%;*/
	vertical-align: middle;
}
.page_title{
	font-size: 2em;
	font-weight: bold;
	margin-left: 4%;
	font-style: italic;

}





#content {
	width: 100%;
	box-sizing: border-box;
}

.con_item {
	display: none;
	width: 100%;
}
video{
	width: 96%;
}
#video{
	background: url(../img/bg7.png) no-repeat bottom;
	background-size: 100%;
	padding-bottom: 1em;
	background-attachment: fixed;
}

.video_msg{
	width: 96%;
	font-size: 1.2em;
	margin-bottom: 1em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid gray;
}
.video_inner{
	padding-left: 11%;
	
}
.video_item{
	margin-bottom: 2em;
}

.video_title{
	width: 96%;
	font-size: 1.1em;
	margin: 0.3em 0;
	line-height: 1.8em;
	color: red;
	padding-bottom: 0.3em;
	border-bottom: 1px dashed lightgray;
}

#album{
	position: relative;
	height: 100vh;
}
.mask{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 20;
}
.album_menu{
	display: none;
	position: absolute;
	top: 45%;
	left: 45%;
	transform: translate(-50%,-50%);
	list-style: none;
	z-index: 100;
	font-size: 1.1em;
}
.album_menu li{
	margin-bottom: 1.5em;
	color: white;
}
.album_menu li span{	
	border-bottom: 1px solid white;
}

#dream_swiper{
	width: 100%;
	height: 100%;
}
.swiper-container img{
	width: 100%;
}



#office {
	height: 100vh;
}
iframe {
	border: 0;
}
#weixin {
	height: 100vh;
	text-align: center;
	background: url(../img/bg7.png) no-repeat;
	background-size: 100%;
}
#weixin img {
	max-width: 50%;
}
#weixin p {
	font-size: 15px;
	color: gray;
	margin-bottom: 15px;
}